body{
    background-color: #242423;
/*    color: #F1A900; */
    color: #e2e2e2;
}

div.game-icon {
    background: url('/images/icons.png') no-repeat;
    width: 64px;
    height: 64px;
}

.game-icon-dyson-sphere-component{
    background-position:  0px 0px;
}

.game-icon-smelter{
    background-position:  0px 64px;
}